page-event-details {
    h2,
    p {
        color: #000 !important;
    }
    .p-set {
        font-size: 12px !important;
        color: #000 !important;
        font-weight: 500 !important;
        margin-left: 10px !important;
    }
    .upper {
        text-transform: uppercase;
    }
}