page-forgot-password {
    h1,h2,h3,h4,h5,p {
        color: #000!important;
    }
    hr {
        border-top: 1px solid #000;
        width: 205px;
    }
    .user-img {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    ion-item {
        border-radius: 15px;
    }
    .send-btn {
        border-radius: 10px;
        background: linear-gradient(to right, #ec3747 , #f45a43);
        padding: 23px 32px;
        font-size: 17px;
        margin-top: 3rem;
    }

    .bntback, .back-btn{
        background: transparent !important;
    }
    .login-back {
        background: #eaeaea;
        width: 100%;
        height: 100%;
    }
}
