page-ranking {
    p,
    h3 {
        color: #000;
    }
    .segment-md-primary .segment-button {
        color: #000;
    }
    .segment-md .segment-button.segment-activated {
        border-color: #000;
        color: #000;
        opacity: 1;
    }
    .input-wrapper {
        color: #000;
        font-size: 15px;
    }
    .btn-type {
        font-size: 6vw;
        color: #fff;
    }
    .round_img{
        
        ion-icon {
            display: inline-block;
            font-size: 2em;
        }
    }
    .img-badge {
        background: transparent;
        position: absolute;
        top: 0px;
        left: 0px;        
    }

    .rank-h1{
        font-size: 18px !important;
        margin-top: 33px !important;
        color: #ec3747 !important;
        font-weight: bold !important;
        border: 1px solid;
        border-radius: 12px;
        width: 20px;
        height: 20px;
        text-align: center;
    }
}