page-ranking {
    p,
    h3 {
        color: #000;
    }
    .segment-md-primary .segment-button {
        color: #000;
    }
    .segment-md .segment-button.segment-activated {
        border-color: #000;
        color: #000;
        opacity: 1;
    }
    .input-wrapper {
        color: #000;
        font-size: 15px;
    }
    .btn-type {
        font-size: 6vw;
        color: #fff;
    }
    .round_img{
        
        ion-icon {
            display: inline-block;
            font-size: 2em;
        }
    }
    .img-badge {
        background: transparent;
        position: absolute;
        top: 0px;
        left: 0px;        
    }

    .rank-h1{
        font-size: 30px !important;
        margin-top: 3px !important;
        color: #ec3747 !important;
        font-weight: bolder !important;
        border: 2px solid #ec3747;
        border-radius: 22px;
        width: 38px !important;
        height: 38px !important;
        text-align: center;
        transform: rotate(-30deg);
        margin-left: 3px;
        position: absolute;
    }

    /* for ranking font size */

    .rank-h3 {
        font-size: 1.8rem !important;
    }

    .rank-p1 {
        font-size: 1.6rem !important;
    }

    .rank-spn {
        font-size: 1.4rem !important;
    }

    .rank-p2 {
        font-size: 1.2rem !important;
    }

    .rank-spn {
        display:inline-block;
    }

    .rank-img {
        height: 75px;
        width: 85px;
        position: absolute;
        transform: rotate(-30deg);
        //margin-left: -20px;
        margin-left: -6px;
        margin-top: 2px;    
    }
}