<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      {{location_txt}}
    </ion-title>
    <ion-buttons right>
      <button class="publish-btn" ion-button type="submit" (click)="Next()"> {{next}} </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="background" [style.background-image]="'url('+image+')'">

    <div class="div-botm">
      <button class="{{myLocBtn}}" (click)="MyLocation()">{{my_location_txt}}<ion-icon ios="ios-locate" md="md-locate"></ion-icon></button>
      <ion-searchbar *ngIf="!isMycurrLoc" [(ngModel)]="search" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
      <ion-list>
        <button ion-item *ngFor="let location of locations" (click)="itemSelected(location)">
          {{ location.name }}
        </button>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>