page-location {
    .back-btn {
        background: transparent !important;
        color: #fff;
        margin-top: 10px !important;
    }
    ion-header button {
        color: #fff;
    }
    .searchbar-md {
        background: transparent !important;
        padding: 8px;
        margin-left: 5px !important;
    }
    .background {
        background-color: transparent !important;
        color: #fff;
        min-height: 100%;
        width: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .publish-btn {
        // .button-inner {
        border-radius: 15px;
        background: linear-gradient(to bottom, #ec3747, #f45a43);
        margin-bottom: 5px;
        color: #fff !important;
        padding: 12px;
        border: 1px solid #ec3747;
    }
}