page-registration {
    h2, p {
        color: #fff;
    }
    .login-back {
        background-image: url('../assets/imgs/login/login-back.png');
        min-height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .login-back ion-item {
        width: 60%;
        border-radius: 15px;
        margin-left: 20%;
        margin-bottom: 10px;
    }
    .login-back .submit-btn {
        width: 30vw;
        height: 6vh;
        font-size: 18px;
        border-radius: 15px;
        background: linear-gradient(to right, #ec3747, #f45a43);
        margin-bottom: 5px;
    }
    .date-row {
        width: 60%;
        margin-left: 20%;
    }
    ion-datetime {
        background: #fff;
        border-radius: 15px;
    }
    .upload-btn {
        background: #fff;
        color: #b3b3b3;
        width: 60%;
        border-radius: 15px;
        padding: 22px 0px;
    }
    .upload-btn .button-inner {
        justify-content: left !important;
        margin-left: 25px;
    }
    .back-btn {
        background: transparent !important;
    }
    .upload-icon {
        position: relative;
        top: 10px;
        right: 45px;
    }

    /* ------ Added on 3_11_2018 ------ */

    ion-content {
        top: 0px !important;
    }

    ion-header, ion-navbar {
        height: 68px;
    }

    ion-navbar.toolbar {
        height: 68px;
    }

   .back-btn {
        margin-top: 10px;
    }

    .wechat-btn {
        margin-top: 27px;
        padding: 18px 24px;
        margin-bottom: 0px;
    }

    .login-back #img-wechat {
        margin-left: 6px;
        height: 30px;
        width: 30px;
    }

    .login-back #txt-wechat {
        font-size: 15px;
        margin-left: 8px;
        margin-right: 8px;
    }

    /* Added on 6_11_2018 */

    .txt-or{
        margin-top: 0rem !important;
        margin-bottom: 0.5rem !important;
        font-size: 16px;
        font-weight: lighter;
    }

    .login-back ion-item {
        width: 66% !important;
        border-radius: 10px !important;
        margin-left: 17% !important;
        margin-bottom: 5px !important;
    }

    .text-input-md {
        margin: 0px 0px !important;
        font-size: 13px;
    }

    .item-input ion-input, .item-input ion-textarea {
        font-size: 13px;
    }

    .item-block {
        min-height: 3.4rem !important;
    }

    .birth-p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
    }

    .spn-small {
        font-size: 10px;
    }

    .birth-text {
        margin-left: 20vw;
    }

}