ranking {
    p,
    h3 {
        color: #000;
    }
    .segment-md-primary .segment-button {
        color: #000;
    }
    .segment-md .segment-button.segment-activated {
        border-color: #000;
        color: #000;
        opacity: 1;
    }

    .rank-h1{
        font-size: 18px !important;
        margin-top: 33px !important;
        color: #ec3747 !important;
        font-weight: bold !important;
    }
}