<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="tool-bar-title">
      <button start class="back-btn" (click)='goBack()'>
        <ion-icon class="toolbar-icon" name="arrow-back"></ion-icon>
      </button><span id="hdr-txt">{{settings}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="login-back">
    <ion-row>
      <ion-col col-12 text-center>
        <ion-select [(ngModel)]="language">
          <ion-option *ngFor="let language of languages" value="{{language.code}}" (ionSelect)="onChange(language)">{{language.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 text-center>
        <ion-select [(ngModel)]="city">
          <ion-option *ngFor="let city of cities" value="{{city.name}}" (ionSelect)="onChangeCity(city.area_id)">{{city.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <div text-center class="btn-logout">
      <button class="submit-btn" *ngIf="user_id" ion-button type="submit" (click)="logout()">{{logout_txt}}</button>
    </div>
  </div>
</ion-content>