page-settings {
    .item-select .label-md, .item-datetime .label-md {
        color: #000;
    }
    .back-btn {
        background: transparent !important;
    }
    .toolbar-title-md {
        margin-left: 0px !important;
    }
}
