page-home {
    // baidu-map {
    //     display: block;
    //     width: 100%;
    //     height: 50%;
    // }
    .map {
        width: 100%;
        height: 48%;
        display: block;
        overflow: hidden;
        margin: 0;
        font-family: "Arial";
    }
    .scroll {
        height: 100%;
    }
    ion-slides {
        display: block;
        width: 100%;
        height: auto !important;
        background: #eaeaea;
    }
    .border-line {
        border-right: 2px solid #000;
    }
    .s-image {
        width: 40px !important;
        max-width: 40px !important;
        height: 40px !important;
        max-height: 40px !important;
    }
    .star {
        width: 15px !important;
        max-width: 20px !important;
        height: 20px !important;
        max-height: 15px !important;
        position: absolute;
        right: 30%;
    }
    .background-rank {
        background-image: url('../assets/icon/Front-Icons/Vector-Smart-Object1.png');
        width: 60px;
        min-height: 45px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: auto;
        padding: 12px;
        margin-right: auto;
    }
    ion-item {
        width: 80%;
        border: 1px solid #eaeaea;
        border-bottom: none;
        border-radius: 20px;
        margin-left: 10%;
    }
    .item-block {
        border: 1px solid #eaeaea !important;
    }
    .btn-color {
        background: transparent;
        position: relative;
    }
    .i-serach {
        background: #ee3f46;
        color: #fff;
        width: 32px;
        height: 32px;
        font-size: 22px;
        border-radius: 50%;
        padding: 5px;
    }

    
    
}