<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-toolbar>
      <ion-title text-center>
        <span><img src="assets/imgs/login/Group-2.png" class="fire-icon">RaRaU</span>
        <span style="float: right"><img class="round-circle" src="assets/icon/user.png" width="45" height="45" (click)="openProfile()"></span>
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides class="image-slider" slidesPerView="3">
    <ion-slide *ngFor="let image of images; let i = index;">
      <div class="category-rank">
        <ion-row>
          <ion-col text-center>
            <img class="s-image" src="{{image.categoryFirst}}" width="3" height="3" />
          </ion-col>
          <ion-col text-center>
            <span class="background-rank">{{image.text}}<sup>th</sup></span>
            <span class="border-line"></span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img class="s-image" src="{{image.categoryPerson}}" width="3" height="3">
            <img class="star" src="assets/icon/Front-Icons/Vector-Smart-Object3.png" width="3" height="3">

          </ion-col>
        </ion-row>
      </div>

    </ion-slide>
  </ion-slides>

  <div class="search-bar">
    <form [formGroup]="searchForm">
      <ion-item>
        <ion-label color="dark">
          <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
        </ion-label>
        <ion-input placeholder="Search" formControlName="searchLocation" type="text" (click)="resetStories()"></ion-input>
        <button class="btn-color" clear (click)="searchLoc($event)" item-right>
          <ion-icon class="i-serach" ios="ios-search" md="md-search"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Search by User | Serach by Category" formControlName="searchUser" type="text" (click)="resetStories()"></ion-input>
        <button class="btn-color" clear (click)="searchUsercat($event)" item-right>
          <ion-icon class="i-serach" ios="ios-search" md="md-search"></ion-icon>
        </button>
      </ion-item>
    </form>
  </div>

  <div class="map">
    <baidu-map [options]="options" (onMapLoaded)="loadMap($event)" (clicked)="clickmap($event)">
      <marker *ngFor="let marker of markers" [point]="marker.point" [options]="marker.options" (clicked)="showWindow($event)"></marker>
      <control type="navigation" [options]="navOptions"></control>
    </baidu-map>
  </div>
  <div *ngIf="showStories" class="top-stories">
    <ion-list (click)="goToList()" no-lines>
      <ion-item *ngFor="let record of stories; let i = index;">
        <ion-avatar item-start>
          <img src="{{record.user_image}}">
        </ion-avatar>
        <h2>{{record.user_name}}</h2>
        <p>
          <span *ngFor="let tag of record.tags; let j = index;">
            <span *ngIf="record.tags.length-1 > j">{{tag}}, </span>
            <span *ngIf="record.tags.length-1 == j">{{tag}}</span>
          </span>
        </p>
        <ion-note item-end>{{record.categories}}</ion-note>
      </ion-item>
    </ion-list>
  </div>


</ion-content>