page-home {
    // baidu-map {
    //     display: block;
    //     width: 100%;
    //     height: 50%;
    // }

    .search-bar{
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        ion-item {
            width: 90%;
            height: 5%;
            font-size: 15px;
            border: 1px solid #eaeaea;
            border-bottom: none;
            border-radius: 20px;
            margin-left: 5%;
            margin-top: 1%;
            margin-bottom: 1%;
        }

        .text-input-md {
            margin: 0px 0px;
            padding: 0;
            width: calc(100% - 8px - 8px);
        }

        .item-md.item-block .item-inner {
            padding-right: 0px;
            border-bottom: 1px solid #dedede;
        }
    }

    .map {
        width: 100%;
        height: 60%;
        display: block;
        overflow: hidden;
        margin: 0;
        font-family: "Arial";
    }
    .scroll {
        height: 100%;
    }
    ion-slides {
        display: block;
        width: 100%;
        height: auto !important;
        background: #eaeaea;
    }

    .category-rank{
        margin-top: 10px;
        margin-bottom: 10px;    
        
        
    }

    .border-line {        
        background-color: #000;                    
        padding: 1px;               
    }
    .s-image {
        width: 25px !important;
        max-width: 25px !important;
        height: 25px !important;
        max-height: 25px !important;
    }
    .star {
        width: 15px !important;
        max-width: 20px !important;
        height: 20px !important;
        max-height: 15px !important;
        position: absolute;
        right: 30%;
    }
    .background-rank {
        background-image: url('../assets/icon/Front-Icons/Vector-Smart-Object1.png');
        font-size: 10px;
        color: #fff;        
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: auto;
        padding: 10px;
        margin-right: auto;        
    }
    
    .item-block {
        border: 1px solid #eaeaea !important;
    }
    .btn-color {
        background: transparent;
        position: relative;
    }
    .i-serach {
        background: #ee3f46;
        color: #fff;
        width: 32px;
        height: 32px;
        font-size: 22px;
        border-radius: 50%;
        padding: 5px;
    }

    .top-stories{
        margin-top: -95px;
    }




  
    
}