<ion-header>
  <ion-navbar hideBackButton>
    <ion-toolbar>
      <ion-title class="tool-bar-title">
        <button start class="back-btn" (click)='goBack()'>
          <ion-icon class="toolbar-icon" name="arrow-back"></ion-icon>
        </button>
        {{title}}
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="list" padding>

  <ion-grid>
    <div *ngFor="let dval of data">

      <div *ngFor="let record of dval.stories; let i = index;" (click)="showStory(record)">
        <ion-row>
          <ion-col col-4 class="vertical-align" text-center>
            <img class="circle-pic" src="{{record.user_image_thumb}}" width="100" height="100">
            <div class="lvl-image">
              <p class="background-lvl"><span style="color:#fff;">Lv6</span></p>
            </div>
          </ion-col>
          <ion-col col-8>
            <h1>{{record.user_name}} <span class="flame-number">94 <img src="assets/imgs/story/negative-flame.png" width="10"
                  height="10"></span><span class="flame-number">449 <img src="assets/imgs/story/positive-flame.png" width="10"
                  height="10"></span></h1>

            <span *ngFor="let tag of record.tags; let j = index;">
              <span *ngIf="record.tags.length-1 > j">{{tag}},&nbsp;</span>
              <span *ngIf="record.tags.length-1 == j">{{tag}}</span>
            </span>

            <p class="p-date">{{record.created_date}}</p>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 class="vertical-align" text-center>
            <img src="assets/imgs/story/positive-flame.png" width="40" height="40">
          </ion-col>
          <ion-col col-8 padding>
            <img class="img-grid" src="{{record.image_thumb}}" width="70" height="70">
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>

</ion-content>